{% extends 'base.html.twig' %}

{% block title %}Our Shows{% endblock %}

{% block body %}
<h1>Shows</h1>
    <section class="shows">
        {% for performance in performances %}
            <article>
                <h2>{{performance.name}}</h2>
                <div class="tag">Date et heure de la représentation :{{ performance.showedAt | date('d/m/Y') }} à {{ performance.showedAt | date('H:i') }}.</div>
                <div class="content">
                    <img src="{{ performance.image }}" alt="">
                    <p>{{  performance.description }}</p>
                    <a href="{{ path('representation', {'id': performance.id }) }}" class="btn btn-primary">Venez voir la suite</a>
                </div>
            </article>
        {% endfor%}
    </section>
        {% endblock %}
