{% extends 'base.html.twig' %}
{% block body %}
    <article>
        <h2>{{ performance.name }}</h2>
        <div class="tag">Date et horaire de la représentation :  Le {{ performance.showedAt | date('d/m/Y') }} à {{ performance.showedAt | date('H:i')}}.</div>
        <div class="content">
            <img src="{{ performance.image }}" alt="">
            <p>{{ performance.description }}</p>

        </div>
    </article>
{% endblock %}