{% extends 'base.html.twig' %}

{% block title %}Our Artists{% endblock %}

{% block body %}
<h1>Artists</h1>
<section class="artists">
    <article>
        <h2>Artiste N°1</h2>
        <div class="tag">Membre de la troupe depuis le 22/07/2020</div>
        <div class="content">
            <img src="http://placehold.it/350x150" alt="">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
            <a href="{{ path('show_artist') }}" class="btn btn-primary">Venez voir la suite</a>
        </div>
    </article>
    <article>
        <h2>Artiste N°2</h2>
        <div class="tag">Membre de la troupe depuis le 22/07/2020</div>
        <div class="content">
            <img src="http://placehold.it/350x150" alt="">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
            <a href="{{ path('show_artist') }}" class="btn btn-primary">Venez voir la suite</a>
        </div>
    </article>
    <article>
        <h2>Artiste N°3</h2>
        <div class="tag">Membre de la troupe depuis le 22/07/2020</div>
        <div class="content">
            <img src="http://placehold.it/350x150" alt="">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
            <a href="{{ path('show_artist') }}" class="btn btn-primary">Venez voir la suite</a>
        </div>
    </article>
    <article>
        <h2>Artiste N°4</h2>
        <div class="tag">Membre de la troupe depuis le 22/07/2020</div>
        <div class="content">
            <img src="http://placehold.it/350x150" alt="">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
            <a href="{{ path('show_artist') }}" class="btn btn-primary">Venez voir la suite</a>
        </div>
    </article>
    <article>
        <h2>Artiste N°5</h2>
        <div class="tag">Membre de la troupe depuis le 22/07/2020</div>
        <div class="content">
            <img src="http://placehold.it/350x150" alt="">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
            <a href="{{ path('show_artist') }}" class="btn btn-primary">Venez voir la suite</a>
        </div>
    </article>
    <article>
        <h2>Artiste N°6</h2>
        <div class="tag">Membre de la troupe depuis le 22/07/2020</div>
        <div class="content">
            <img src="http://placehold.it/350x150" alt="">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
            <a href="{{ path('show_artist') }}" class="btn btn-primary">Venez voir la suite</a>
        </div>
    </article>
    <article>
        <h2>Artiste N°7</h2>
        <div class="tag">Membre de la troupe depuis le 22/07/2020</div>
        <div class="content">
            <img src="http://placehold.it/350x150" alt="">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
            <a href="{{ path('show_artist') }}" class="btn btn-primary">Venez voir la suite</a>
        </div>
    </article>
    <article>
        <h2>Artiste N°8</h2>
        <div class="tag">Membre de la troupe depuis le 22/07/2020</div>
        <div class="content">
            <img src="http://placehold.it/350x150" alt="">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
            <a href="{{ path('show_artist') }}" class="btn btn-primary">Venez voir la suite</a>
        </div>
    </article>
    <article>
        <h2>Artiste N°9</h2>
        <div class="tag">Membre de la troupe depuis le 22/07/2020</div>
        <div class="content">
            <img src="http://placehold.it/350x150" alt="">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
            <a href="{{ path('show_artist') }}" class="btn btn-primary">Venez voir la suite</a>
        </div>
    </article>
{% endblock %}
