{% extends 'base.html.twig' %}

{% block title %}Shows{% endblock %}

{% block body %}
    <h1>Nos shows :</h1>
    {% for performance in performances %}
        <article>
            <h2>{{ performance.name }}</h2>
            <div class="content">
                <div class="metadata">Date de représentation : {{ performance.showedAt | date ('d/m/Y') }}</div>
                <img src="{{ performance.image }}" alt="">
                {{ performance.description }}
                <a href="{{ path('show_performance', {'id': performance.id}) }}" class="btn btn-primary">Consulter la suite</a>
            </div>
        </article>
    {% endfor %}
{% endblock %}
